<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="../assets/img-default/image-big-card.jpg"
      alt="image placeholder"
    />
  </div>
  <div class="big-card__title">
    <span>Outubro, 04,2023</span>
    <h1><a href="#">Saiu novidades sobre Angular e UI designer.</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a
      maioria sofreu algum tipo de alteração, seja por inserção de passagens com
      humor, ou palavras aleatórias que não parecem nem um pouco convincentes.
    </p>
  </div>
</div>
