<app-menu-title></app-menu-title>

<div class="container__article">
  <div class="article__main">
    <app-big-card
      photoCover="../assets/img-default/image-big-card.jpg"
      cardTitle="Maravilhas da internet"
      cardDescription="Entre nesse mundo novo e repleto de maravilhas! Nessa edição falaremos sobre vários assuntos importantes sobre a evolução das máquinas."
    ></app-big-card>
  </div>
  <div class="article__other">
    <app-small-card
      smallPhotoCover="https://images.unsplash.com/photo-1598464824367-4d6b4c22bd2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
      smallCardTitle="O vício em ficar horas em frente ao celular!"
    ></app-small-card>
    <app-small-card
      smallPhotoCover="https://media.istockphoto.com/id/1494104649/pt/foto/ai-chatbot-artificial-intelligence-digital-concept.jpg?s=2048x2048&w=is&k=20&c=Ol_HTP7C3E-CqivehZX5PbGi3ze0iWQ9GeD_YS2wW9M="
      smallCardTitle="Novas Linguagens de programação."
    ></app-small-card>
    <app-small-card
      smallPhotoCover="https://images.unsplash.com/photo-1550009158-9ebf69173e03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2101&q=80"
      smallCardTitle="Dicas de como melhorar seu Setup."
    ></app-small-card>
  </div>
</div>
